<div class= "mx-auto w-11/12 px-48">
  <%= form_with model: @blog_post do |form| %>
    <% if form.object.errors.any? %>
      <div class="bg-transparent">
        <% form.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>
    <div class="space-y-3">
      <%= form.label :title, class: "text-lg font-semibold" %>
      <%= form.text_field :title, class: "bg-transparent rounded flex w-full" %>
    </div>
    <div class="space-y-3 space-x-5">
      <%= form.label :cover_image, class: "text-lg font-semibold" %>
      <% if blog_post.cover_image.present? %>
        <div id="<%= dom_id(blog_post, :cover_image) %>" class="">
          <%= image_tag blog_post.cover_image, class: "w-1/3" %>
          <%= link_to "Remove cover image", blog_post_cover_image_path(blog_post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      <% end %>
      <%= form.file_field :cover_image %>
    </div>
    <div class="space-y-3 mt-3">
      <%= form.label :content, class: "text-lg font-semibold" %>
      <%= form.rich_text_area :content, class: "bg-transparent rounded flex w-full" %>
    </div>
    <div class="justify-between flex my-4">
      <%= form.label :published_at, class: "text-center" %>
      <%= form.datetime_select :published_at, include_blank: true %>
    </div>
    <div class="flex items-center justify-center mt-8">
      <%= form.button class: "flex w-1/3 justify-center rounded-md bg-teal-600 px-3 py-1.5 text-md font-semibold leading-6 text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600" %>
    </div>
  <% end %>
</div>
