<!DOCTYPE html>
<html lang="en" class="bg-[radial-gradient(ellipse_at_bottom_right,_var(--tw-gradient-stops))] from-teal-200 to-lime-200">
  <head>
    <title>BlogSbRoR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      html, body {
        height: 100vh;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body class="flex p-6">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="flex flex-col fixed space-y-5 pr-4 pb-4 ">
      <%= link_to "Home", root_path, class: "hover:text-teal-700" %>
      <%= link_to "New Blog Post", new_blog_post_path, class: "hover:text-teal-700" %>
      <% if user_signed_in? %>
        <%= link_to "Profile", edit_user_registration_path, class: "hover:text-teal-700" %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "hover:text-teal-700" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "hover:text-teal-700" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "hover:text-teal-700" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
